<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Inverse Sinusoid Quiz!</title>
  </head>
  <body>
    <h1>Welcome!</h1>
    <div class="about"
      <p>
        Here you can take a quiz to find out what inverse sinusoidal function you
        are!
      </p>
      <p>
        We also have a separate quiz to figure out what inverse sinusoidal function
        you're looking at!
      </p>
    </div>
    <div>
      <button>What inverse sinusoidal function am I?</button>
      <button>What inverse sinusoidal function am I looking at?</button>
    </div>
  </body>
</html>
