<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Congrats!</title>
    <link rel="stylesheet" href="css/result.css">
  </head>
  <body>
    <% if (name){ %>
      <h1>Congrats!</h1>
      <h2>You are a <%= name %>!</h2>
      <img src="img/<%= short %>.gif" alt="<%= name %>">
      <p><%= description %></p>
    <% } %>
  </body>
</html>
